<section class="container">
    <div class="one">
        <!-- Tool General-->
        <p class="sidebar-capture">General</p>
        <div class="row">
            <div class="row_item">
                <label>Width</label>
                <input class="sidebar_input" type="number" value="1440" />
            </div>
            <div class="row_item">
                <label>HEIGHT</label>
                <input class="sidebar_input" type="number" value="900" />
            </div>
        </div>
        <!-- Tool Tools-->
        <p class="sidebar-capture">Tools</p>
        <div class="row">
            <div class="row_item"></div>
            <div class="row_item"></div>
        </div>

        <!-- Tool Properties-->
        <p class="sidebar-capture">Properties</p>
        <div class="row">
            <div class="row_item"></div>
            <div class="row_item"></div>
        </div>
    </div>
    <div class="two" appDrop>
        <svg viewBox="0 0 1440 900">
            <g #mainArea>
                <ng-container *ngFor="let item of allItems">
                    <g *ngIf="svgService.isRectangle(item)" >
                        <rect appDrag [attr.x]="item.x" [attr.y]="item.y" [attr.width]="item.width" [attr.height]="item.height" 
                            [attr.fill]="item.fill" />
                    </g>
                    <g *ngIf="svgService.isCircle(item)">
                        <circle appDrag id="circle-yellow" [attr.cx]="item.cx" [attr.cy]="item.cy" [attr.r]="item.r" 
                            [attr.fill]="item.fill" />
                    </g>
                </ng-container>
            </g>
        </svg>
    </div>
</section>