<mat-toolbar color="primary">
    <span>SVG Editor</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <span>by Jviaches</span>
</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened mat-drawer position="start">
        <mat-accordion>
            <mat-list role="list">
                <mat-list-item role="listitem"><img src="../../../assets/gallery/user-responses/aaa.svg" width="100%" height="100%" (click)="galleryItemSelection()" /></mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
        <div class="main-container">
            <svg id="svg_container" #svg_container attr.height="{{svgHeight}}px" attr.width="{{svgWidth}}px"
                style.background-color="{{svgBackgroundColor}}" (click)="svgContainerSelection($event)">
                <g #mainArea>
                    <ng-container *ngFor="let item of svgService.editedIems">
                        <g *ngIf="svgService.isRectangle(item)">
                            <rect appDrag [attr.id]="item.id" [attr.x]="item.attributes[0].value"
                                [attr.y]="item.attributes[1].value" [attr.width]="item.attributes[2].value"
                                [attr.height]="item.attributes[3].value" [attr.fill]="item.attributes[4].value"
                                (click)="shapeSelection(item)" />
                        </g>
                        <g *ngIf="svgService.isCircle(item)">
                            <circle appDrag [attr.id]="item.id" [attr.cx]="item.attributes[0].value"
                                [attr.cy]="item.attributes[1].value" [attr.r]="item.attributes[2].value"
                                [attr.fill]="item.attributes[3].value" (click)="shapeSelection(item)" />
                        </g>
                        <g *ngIf="svgService.isPath(item)">
                            <path appDrag [attr.d]="item.attributes[0].value" (click)="shapeSelection(item)" />
                        </g>

                        <g *ngIf="svgService.isLine(item)">
                            <line appDrag [attr.id]="item.id" [attr.x1]="item.attributes[0].value"
                                [attr.y1]="item.attributes[1].value" [attr.x2]="item.attributes[2].value"
                                [attr.y2]="item.attributes[3].value" [attr.stroke]="item.attributes[4].value"
                                (click)="shapeSelection(item)" />
                        </g>

                        <!-- <g *ngIf="svgService.isText(item)"> -->
                        <foreignObject appDrag *ngIf="svgService.isText(item)" [attr.id]="item.id"
                            [attr.x]="item.attributes[0].value" [attr.y]="item.attributes[1].value" width="340"
                            height="100">
                            <xhtml:div>{{item.attributes[3].value}}</xhtml:div>
                        </foreignObject>
                        
                        <!-- <text appDrag [attr.d]="item.id"
                            [attr.x]="item.attributes[0].value"
                            [attr.y]="item.attributes[1].value"
                            lengthAdjust="spacing"
                            width="200" height="300"
                            (click)="shapeSelection(item)">
                            <tspan>{{item.attributes[3].value}}</tspan>
                        </text> -->
                        <!-- </g> -->

                        
                    </ng-container>
                    <!-- <line x1="0" y1="80" x2="100" y2="20" stroke="black" /> -->
                </g>
            </svg>
        </div>
    </mat-drawer-content>
    <mat-drawer mode="side" opened mat-drawer position="end">
        <mat-accordion>
            <mat-expansion-panel expanded="true" class="expansion-tab">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        General
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <mat-form-field class="half-width-field">
                        <mat-label>Width</mat-label>
                        <input matInput type="number" (input)="svgWidth = $event.target.value" [value]="svgWidth">
                    </mat-form-field>
                    <mat-form-field class="half-width-field">
                        <mat-label>Height</mat-label>
                        <input matInput type="number" (input)="svgHeight = $event.target.value" [value]="svgHeight">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="full-width-field">
                        <mat-label>Background</mat-label>
                        <input matInput (input)="svgBackgroundColor = $event.target.value" [value]="svgBackgroundColor">
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <br />

        <mat-accordion>
            <mat-expansion-panel expanded="true" class="expansion-tab">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tools
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-shape-toolbar></app-shape-toolbar>
            </mat-expansion-panel>
        </mat-accordion>
        <br />
        <mat-accordion>
            <mat-expansion-panel class="expansion-tab">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Properties
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="!selectedItem">
                    <span class="label-stab">Click on shape to inspect its properties</span>
                </div>
                <div *ngIf="selectedItem">
                    <div *ngFor="let attr of selectedItem.attributes">
                        <div *ngIf="attr.key === 'Fill'" class="input-wrapper">
                            <span class="text">{{attr.key}}</span>
                            <div class="color-div" [ngStyle]="{'background-color': attr.value || 'white'}"
                                (click)="toggleColorPicker($event)" type="button" cdkOverlayOrigin
                                #trigger="cdkOverlayOrigin">
                            </div>

                            <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                                [cdkConnectedOverlayOpen]="isOpen">
                                <div class="example-list">
                                    <app-color-picker id="colorPicker"></app-color-picker>
                                </div>
                            </ng-template>
                        </div>

                        <mat-form-field class="half-width-field" *ngIf="attr.key !== 'Fill'">
                            <mat-label>{{attr.key}}</mat-label>
                            <input matInput [value]="attr.value" (input)="attr.value = $event.target.value">
                        </mat-form-field>
                    </div>

                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <br />

        <mat-accordion>
            <mat-expansion-panel class="expansion-tab">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Download Options
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="row_item">
                        <button mat-fab color="primary" (click)="saveAsPng()">SVG</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>    
</mat-drawer-container>