<div>
    <button #rectangleTool mat-mini-fab color="basic" matTooltip="Rectangle" class="button-icons" (click)="rectangleSelected()">
        <span class="material-icons">crop_square</span>
    </button>
    <button #circleTool mat-mini-fab color="basic" matTooltip="Circle" class="button-icons" (click)="circleSelected()">
        <span class="material-icons">panorama_fish_eye</span>
    </button>
    <button mat-mini-fab color="basic" matTooltip="Path" class="button-icons">
        <span class="material-icons">horizontal_rule</span>
    </button>
    <button mat-mini-fab color="basic" matTooltip="Text" class="button-icons">
        <span class="material-icons">text_fields</span>
    </button>
</div>