<div>
    <button mat-mini-fab color="accent" matTooltip="Rectangle" class="button-icons">
        <span class="material-icons">crop_square</span>
    </button>
    <button mat-mini-fab color="accent" matTooltip="Circle" class="button-icons">
        <span class="material-icons">panorama_fish_eye</span>
    </button>
    <button mat-mini-fab color="accent" matTooltip="Path" class="button-icons">
        <span class="material-icons">horizontal_rule</span>
    </button>
    <button mat-mini-fab color="accent" matTooltip="Text" class="button-icons">
        <span class="material-icons">text_fields</span>
    </button>
</div>